@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Delius&family=DynaPuff:wght@600&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Delius", "DynaPuff", cursive, system-ui;
  font-weight: 900;
  font-style: bold;
}


.header {
  background-color: rgb(43, 82, 84);
  color: white;
  padding: 16px;
  text-align: center;
}

.footer {
  background-color: rgb(20, 19, 19);
  color: white;
  padding: 16px;
  text-align: center;
}
